/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */

html {
	font-family: sans-serif; /* 1 */
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
	margin: 0;
}

/* HTML5 display definitions
	 ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
	display: inline-block; /* 1 */
	vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
	display: none;
}

/* Links
	 ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
	outline: 0;
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
	border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
	font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
	font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
	font-size: 2em;
	margin: .67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
	background: #ff0;
	color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
	border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
	overflow: hidden;
}

/* Grouping content
	 ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
	margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
	box-sizing: content-box;
	height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
	overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Forms
	 ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
	margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
	overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
	text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button; /* 2 */
	cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
	cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
	line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	box-sizing: content-box; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: .35em .625em .75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
	border: 0; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
	overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
	font-weight: bold;
}

/* Tables
	 ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

@font-face {
	font-family: "icomoon";
	src: url("../fonts/icomoon.eot?fz4dz7");
	src: url("../fonts/icomoon.eot?fz4dz7#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?fz4dz7") format("truetype"), url("../fonts/icomoon.woff?fz4dz7") format("woff"), url("../fonts/icomoon.svg?fz4dz7#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1; /* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow_drop_down:before {
	content: "\e900";
}

.icon-Icon_arrow_down:before {
	content: "\e907";
}

.icon-Icon_check_white:before {
	content: "\e908";
}

.icon-Icon_download:before {
	content: "\e909";
}

.icon-Icon_home:before {
	content: "\e90a";
}

.icon-Icon_lock:before {
	content: "\e90b";
}

.icon-Icon_plus:before {
	content: "\e90c";
}

.icon-Icon_search:before {
	content: "\e90d";
}

.icon-Icon_sign_in:before {
	content: "\e90e";
}

.icon-Icon_user:before {
	content: "\e90f";
}

.icon-check:before {
	content: "\e911";
}

.icon-close:before {
	content: "\e910";
}

/* common custom form elements styles */

.jcf-disabled {
	background: #ddd !important;
}

.jcf-focus,
.jcf-focus * {
	border-color: #f00 !important;
}

#nav,
.breadcrumbs,
.information-nav .security-profile .list-security {
	margin: 0;
	padding: 0;
	list-style: none;
}

.clearfix:after,
#header .container:after {
	content: "";
	display: block;
	clear: both;
}

.ellipsis {
	white-space: nowrap; /* 1 */
	text-overflow: ellipsis; /* 2 */
	overflow: hidden;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	max-height: 1000000px;
}

body {
	color: #636466;
	background: #fff;
	font: 16px/1.2 "Arial", "Helvetica Neue", "Helvetica", sans-serif;
	min-width: 320px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

.gm-style img {
	max-width: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
	font-family: inherit;
	font-weight: bold;
	margin: 0 0 .5em;
	color: inherit;
}

h1,
.h1 {
	font-size: 48px;
}

h2,
.h2 {
	font-size: 24px;
}

h3,
.h3 {
	font-size: 18px;
}

h4,
.h4 {
	font-size: 21px;
}

h5,
.h5 {
	font-size: 17px;
}

h6,
.h6 {
	font-size: 15px;
}

p {
	margin: 0 0 1em;
}

a {
	color: #636466;
	text-decoration: none;
}

form,
fieldset {
	margin: 0 -15px;
	padding: 0;
	border-style: none;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	box-sizing: border-box;
	width: 100%;
	background-color: #fff;
	position: relative;
	border: none;
	padding: 1em 2.5em 1em 1em;
	font-size: 16px;
	color: #636466;
	background-position: 97% 50%;
	background-size: 20px 20px;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
textarea:focus {
	border-color: #333;
}

input[type="text"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #999;
}

input[type="text"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
textarea::-moz-placeholder {
	opacity: 1;
	color: #999;
}

input[type="text"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
textarea:-moz-placeholder {
	color: #999;
}

input[type="text"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #999;
}

input[type="text"].placeholder,
input[type="tel"].placeholder,
input[type="email"].placeholder,
input[type="search"].placeholder,
input[type="password"].placeholder,
textarea.placeholder {
	color: #999;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	-webkit-border-radius: 0;
	background-color: #fff;
	background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%230093d0;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3EIcon_arrow_down%3C/title%3E%3Cpath class='cls-1' d='M5.16,8.18A.35.35,0,0,1,5,7.87a.55.55,0,0,1,.12-.35l.31-.27a.36.36,0,0,1,.31-.16.46.46,0,0,1,.35.16l3.91,4,3.91-4a.55.55,0,0,1,.35-.12.41.41,0,0,1,.31.12l.31.27a.55.55,0,0,1,.12.35.4.4,0,0,1-.12.31l-4.53,4.61a.57.57,0,0,1-.7,0h0Z'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: 97% 50%;
	background-size: 20px 20px;
	position: relative;
	border: none;
	padding: 1em 2.5em 1em 1em;
	font-size: 16px;
	color: #636466 !important;
	-webkit-transition: .27s ease-in-out;
	transition: .27s ease-in-out;
}

select::-ms-expand {
	display: none;
}

textarea {
	resize: none;
	vertical-align: top;
}

button,
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="submit"] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	cursor: pointer;
	border: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: .9em 1.1em;
	-ms-flex-negative: 1;
	flex-shrink: 1;
	font-size: 16px;
	color: #fff;
	background-color: #0093d0;
	-webkit-transition: .27s ease-in-out;
	transition: .27s ease-in-out;
	max-height: 52px;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="file"]:hover,
input[type="submit"]:hover {
	background-color: #007db3;
}

button i,
input[type="button"] i,
input[type="reset"] i,
input[type="file"] i,
input[type="submit"] i {
	margin: 0 .5em 0 0;
	font-size: 20px;
}

label {
	display: inline-block;
	font-weight: 400;
	font-size: 24px;
	margin: 0 0 .2em;
	font-size: 24px;
}

input[type="search"]::-webkit-input-placeholder {
	color: #636466;
}

input[type="search"]::-moz-placeholder {
	opacity: 1;
	color: #636466;
}

input[type="search"]:-moz-placeholder {
	color: #636466;
}

input[type="search"]:-ms-input-placeholder {
	color: #636466;
}

input[type="search"].placeholder {
	color: #636466;
}

input[type="text"]::-webkit-input-placeholder {
	color: #636466;
}

input[type="text"]::-moz-placeholder {
	opacity: 1;
	color: #636466;
}

input[type="text"]:-moz-placeholder {
	color: #636466;
}

input[type="text"]:-ms-input-placeholder {
	color: #636466;
}

input[type="text"].placeholder {
	color: #636466;
}

.nav-opener {
	margin: 3em 1em .6em;
	float: right;
	width: 40px;
	height: 41px;
	position: relative;
	display: none;
	text-indent: -9999px;
	overflow: hidden;
	background-color: #e31b23;
}

.nav-opener:before,
.nav-opener:after,
.nav-opener span {
	background: #fff;
	position: absolute;
	top: 20px;
	left: 10%;
	right: 10%;
	height: 4px;
	margin-top: -2px;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
}

.nav-opener:before,
.nav-opener:after {
	content: "";
	top: 12px;
}

.nav-active .nav-opener:before,
.nav-active .nav-opener:after {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 20px;
	left: 15%;
	right: 15%;
}

.nav-opener:after {
	top: 28px;
}

.nav-active .nav-opener:after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.nav-active .nav-opener span {
	opacity: 0;
}

.log-in {
	padding: 2.4em 0;
	float: right;
}

.log-in a {
	padding: .9em 1.1em;
	max-width: 114px;
	color: #fff;
	background-color: #0093d0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-transition: .27s ease-in-out;
	transition: .27s ease-in-out;
}

.log-in a:hover {
	background-color: #007db3;
}

.log-in a i {
	margin: 0 .8em 0 0;
}

.popup-active .drop_down {
	-webkit-transform: rotate(180deg) translate(0, 3px);
	-ms-transform: rotate(180deg) translate(0, 3px);
	transform: rotate(180deg) translate(0, 3px);
}

.drop_down {
	font-size: 24px;
	color: #636466;
	-webkit-transition: .27s ease-in-out;
	transition: .27s ease-in-out;
}

.drop-user {
	padding: 3.5em 0 3em;
	float: right;
}

.drop-user a {
	margin: 0 -.2em 0 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #000;
	font-size: 18px;
	letter-spacing: -.1px;
	-webkit-transition: background .27s ease-in-out;
	transition: background .27s ease-in-out;
}

.drop-user a:hover {
	background-color: #fff;
}

.drop-user a .icon-Icon_user {
	font-size: 20px;
	color: #2fa7d9;
	margin: 0 .2em .2em 0;
}

.drop-user .popup-holder > div,
.drop-user .popup-hover > div {
	padding: 4px;
	height: 1%;
	display: none;
}

.drop-user .popup-active .popup {
	display: block;
	position: absolute;
	height: auto;
	background: #e6e7e8;
	overflow: hidden;
	z-index: 2;
	-webkit-transition: all .27s ease-in-out;
	transition: all .27s ease-in-out;
}

.drop-user .dropdown-item {
	padding: .5em .3em;
	-webkit-transition: all .27s ease-in-out;
	transition: all .27s ease-in-out;
}

.drop-user .dropdown-item:hover {
	background: none;
	color: #0093d0;
}

.header-content {
	position: relative;
	z-index: 1;
}

#nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: #e5f4fa;
}

#nav li {
	text-transform: uppercase;
	margin: 10px 4.6em -5px -2em;
}

#nav li:first-child {
	margin: 9px 4.6em -9px -1em;
}

#nav li:first-child i {
	display: none;
}

#nav li.active {
	background-color: #fff;
}

#nav li a {
	padding: 1.3em 1em 1em;
	font-size: 18px;
	letter-spacing: .065em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	letter-spacing: 0;
	position: relative;
	z-index: 2;
	-webkit-transition: background .27s ease-in-out;
	transition: background .27s ease-in-out;
}

#nav li a:hover {
	background-color: #fff;
}

#nav li a i {
	margin: 0 .35em 0 0;
	color: #2fa7d9;
	font-family: "icomoon";
	font-size: 22px;
	-webkit-transform: translateY(-3px);
	-ms-transform: translateY(-3px);
	transform: translateY(-3px);
}

.resize-active * {
	-webkit-transition: none !important;
	transition: none !important;
}

#header {
	position: relative;
	z-index: 1003;
}

#header .container:before {
	content: "";
	position: absolute;
	width: 100vw;
	left: 0;
	bottom: 0;
}

.logo-block {
	padding: 1em 0 .7em;
	float: left;
	margin: 0 0 .55em;
}

.logo-block .logo {
	width: 138px;
	height: 44px;
}

.logo-block .logo a {
	display: block;
}

.user-area {
	overflow: hidden;
	z-index: 2;
}

.burger-wrap {
	float: right;
}

#wrapper {
	position: relative;
	overflow: hidden;
}

.flex-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
}

.flex-wrap #main {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.container {
	max-width: 1440px;
	padding: 0 15px;
	margin: 0 auto;
}

.section-main {
	padding: 1em 0 1em;
}

.banner-block {
	padding: 2.2em 2.1em 1em;
	min-height: 248px;
	background-size: cover;
	background-position: 50% 50%;
	background-color: #7fc9e7;
}

.banner-box {
	color: #fff;
}

.banner-box h1 {
	font-weight: 400;
	margin: 0 0 .35em;
	line-height: .95;
}

.filter-panel .sign-panel,
.new-panel .sign-panel {
	padding: .7em 1em .95em;
}

.filter-panel .sign-panel h2,
.new-panel .sign-panel h2 {
	font-weight: 400;
	margin: 0 0 1.2em;
}

.filter-panel {
	background-color: #e5f4fa;
}

.button-crimson {
	padding: .7em 1em;
	max-width: 114px;
	color: #fff;
	background-color: #e31b23;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-transition: background .27s ease-in-out;
	transition: background .27s ease-in-out;
}

.button-crimson i {
	font-size: 21px;
	margin: 0 .38em 0 0;
}

.button-crimson:hover {
	background-color: #b7151b;
}

.section-sign .sign-panel {
	padding: 2em;
	background-color: #e6e7e8;
}

.section-sign .sign-panel h2 {
	font-weight: 400;
	margin: 0 0 1.2em;
}

.form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 -10px;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.form select {
	width: 100%;
}

.form .form-group {
	padding: 0 10px;
}

.form .form-group:nth-of-type(1) {
	width: 100%;
	margin: 0 0 1.8em;
}

.form .form-group:nth-of-type(2) {
	width: 100%;
	margin: 0 0 1.8em;
}

.form .form-group:nth-of-type(3) {
	width: 100%;
	margin: 0 0 1.2em;
}

.form .form-group:nth-of-type(4) .input {
	width: 100%;
}

.new-panel {
	background-color: #e6e7e8;
	margin: 0 0 .3em;
}

.new-panel .sign-panel .form-group {
	padding: 0 10px;
}

.new-panel .sign-panel .form-group:nth-of-type(1) {
	width: 100%;
	margin: 0 0 1.2em;
}

.new-panel .sign-panel .form-group:nth-of-type(2) {
	width: 100%;
	margin: 0 0 .8em;
}

.new-panel .sign-panel .form-group:nth-of-type(2) .line-search input {
	background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 20 20' style='enable-background:new 0 0 20 20;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%230093D0;%7D%0A%3C/style%3E%3Cg%3E%3Cpath class='st0' d='M18.9,17.9C19,18,19,18.1,19,18.2s0,0.2-0.1,0.3l-0.4,0.3C18.4,19,18.3,19,18.2,19s-0.2,0-0.3-0.1l-4.5-4.5 c-0.1-0.1-0.1-0.2-0.1-0.3v-0.4c-0.7,0.6-1.4,1.1-2.3,1.4s-1.8,0.5-2.7,0.5c-1.3,0-2.6-0.3-3.7-1S2.6,13.1,2,12S1,9.6,1,8.3 s0.3-2.6,1-3.7s1.5-2,2.7-2.7S7,1,8.3,1s2.6,0.3,3.7,1s2,1.5,2.7,2.7s1,2.3,1,3.7c0,0.9-0.2,1.8-0.5,2.7s-0.8,1.6-1.4,2.3H14 c0.1,0,0.2,0,0.3,0.1L18.9,17.9z M8.3,14.5c1.1,0,2.2-0.3,3.1-0.8s1.7-1.3,2.3-2.3s0.8-2,0.8-3.1s-0.3-2.2-0.8-3.1S12.4,3.5,11.4,3 s-2-0.8-3.1-0.8S6.2,2.4,5.2,3S3.5,4.3,3,5.2s-0.8,2-0.8,3.1s0.3,2.2,0.8,3.1s1.3,1.7,2.3,2.3S7.2,14.5,8.3,14.5z'/%3E%3C/g%3E%3C/svg%3E");
	background-repeat: no-repeat;
}

.new-panel .sign-panel .form-group:nth-of-type(3) {
	max-width: 166px;
	margin: 0;
}

.new-panel .sign-panel .form-group:nth-of-type(4) {
	max-width: 216px;
	-webkit-box-flex: 0;
	-ms-flex: none;
	flex: none;
}

.bg-crimson {
	background-color: #e31b23;
}

.bg-crimson:hover {
	background-color: #b7151b;
}

.table-holder {
	padding: 0 0 1.8em;
}

.thead-table {
	width: 100%;
}

th {
	padding: .85em;
	text-align: left;
}

td {
	padding: .85em .85em 1em;
	border-bottom: 1px solid #e5f4fa;
}

.thead-table {
	margin: 0 0 3em;
}

.thead-table thead {
	color: #fff;
	background-color: #007db3;
}

.link-table {
	padding: .8em 0;
	color: #e31b23;
	border: 2px solid #e31b23;
	font-weight: 600;
	display: block;
	text-align: center;
	-webkit-transition: background .27s ease-in-out;
	transition: background .27s ease-in-out;
}

.link-table:hover {
	color: #fff;
	background-color: #b7151b;
	border: 2px solid #b7151b;
}

.breadcrumbs {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	overflow: hidden;
	color: #333;
}

.breadcrumbs li {
	float: left;
	padding: 0 8px 0 0;
}

.breadcrumbs li:not(:first-child):before {
	float: left;
	content: "\002F";
	margin: 0 4px 0 0;
}

.breadcrumbs li a {
	color: #0093d0;
}

.breadcrumbs li a:hover {
	color: #007db3;
}

.breadcrumbs {
	padding: 1.5em 0 1em;
}

.wrap {
	padding: 0 0 1em;
}

.wrap-create {
	padding: 0 0 1em;
}

.profile-section {
	padding: 0;
	margin: 0;
}

.header-profile {
	margin: 0 0 .6em;
}

.header-profile h1 {
	font-size: 32px;
	font-weight: 400;
	margin: 0;
}

.profile-content,
.profile-content-create {
	padding: 2em 0 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	position: relative;
}

.profile-content:before,
.profile-content:after,
.profile-content-create:before,
.profile-content-create:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	top: 0;
	background-color: #e5f4fa;
}

.profile-content:after,
.profile-content-create:after {
	top: auto;
	bottom: 0;
}

.nav-panel {
	width: 100%;
	margin: 0 0 2em;
}

.image-panel {
	padding: 1em;
	margin: 0 0 2em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #fff;
	background-color: #0093d0;
}

.photo {
	padding: 1em;
	margin: 0 1em 0 0;
	background-color: #245062;
}

.photo i {
	color: #007db3;
	font-size: 48px;
}

.name p {
	margin: 0;
}

.information-nav {
	color: #fff;
	background-color: #e5f4fa;
}

.information-nav .profile {
	padding: 1em;
	font-weight: 600;
	background-color: #0093d0;
}

.information-nav .profile i {
	font-size: 20px;
	margin: 0 .45em 0 0;
}

.information-nav .security-profile {
	padding: 1em 1em 2em;
}

.information-nav .security-profile .list-security {
	color: #636466;
}

.information-nav .security-profile .list-security li {
	margin: 0 0 .2em;
}

.information-nav .security-profile .list-security li:before {
	content: "\e90b";
	color: #0093d0;
	padding: 0 .4em 0 0;
	font-family: "icomoon" !important;
	font-size: 20px;
	opacity: 0;
}

.information-nav .security-profile .list-security li:first-child:before {
	opacity: 1;
}

.information-nav .security-profile .list-security li a:hover {
	color: #0093d0;
}

.information {
	width: 100%;
}

.information .form-panel-information,
.information .form-panel-create {
	margin: 0 0 1em;
}

.information .form-panel-information .title,
.information .form-panel-create .title {
	margin: 0 0 1em;
	display: block;
	font-size: 24px;
}

.information .form-panel-information .row,
.information .form-panel-create .row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 -1em 0;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.information .form-panel-information .row .col,
.information .form-panel-create .row .col {
	width: 100%;
	padding: 0 1em;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.information .form-panel-information .row .col select,
.information .form-panel-create .row .col select {
	width: 100%;
	border: 1px solid #d1d3d4;
}

.information .form-panel-information label,
.information .form-panel-create label {
	width: 100%;
	margin: 0 0 .5em;
	font-size: 16px;
	font-weight: 600;
}

.information .form-panel-information input,
.information .form-panel-information textarea,
.information .form-panel-create input,
.information .form-panel-create textarea {
	border: 1px solid #d1d3d4;
}

.information .form-panel-information input,
.information .form-panel-create input {
	margin: 0 0 2em;
}

.information .form-panel-information textarea,
.information .form-panel-create textarea {
	min-height: 275px;
	margin: 0 0 1em;
}

.information .form-panel-information .dtn-in,
.information .form-panel-create .dtn-in {
	padding: 1em;
	color: #fff;
	background-color: #0093d0;
}

.information .form-panel-information .dtn-in:hover,
.information .form-panel-create .dtn-in:hover {
	background-color: #007db3;
}

.btn-form {
	padding: 1em;
	color: #fff;
	background-color: #e31b23;
	display: inline-block;
}

.btn-form:hover {
	background-color: #b7151b;
}

.profile-content-create:before,
.profile-content-create:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	top: 0;
	background-color: #e5f4fa;
}

.profile-content-create:after {
	top: auto;
	bottom: -1em;
}

.profile-content-create .info-create {
	padding: 0;
	width: 100%;
}

.profile-content-create .info-create .form-panel-create .row {
	margin: 0 -1em 1em;
}

.profile-content-create .info-create .form-panel-create .row:not(:nth-of-type(1)) {
	margin: 0 -1em .7em;
}

.profile-content-create .info-create .form-panel-create .row .attach-wrap {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.profile-content-create .info-create .form-panel-create .row .col {
	padding: 0 1em 1em;
}

.profile-content-create .info-create .form-panel-create input {
	margin: 0;
	padding: 1em;
}

hr {
	border: none;
	position: relative;
	height: 1px;
}

hr:before {
	content: "";
	top: 0;
	left: 0;
	width: calc(100vw - (100vw - 1440px));
	height: inherit;
	position: absolute;
	background-color: #e5f4fa;
}

.profile-section .form-block {
	max-width: 960px;
	padding: 1.8em 0 0;
	margin: 0 0 2em;
}

.profile-section .form-block .row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.profile-section .form-block .row .col {
	padding: 0 2em 1em 0;
	width: 100%;
}

.profile-section .form-block .row .col label {
	margin: 0 0 .5em;
	font-size: 16px;
	font-weight: 600;
}

.profile-section .form-block .row .col input {
	margin: 0;
	padding: 1em;
	border: 1px solid #d1d3d4;
}

.profile-section .form-panel {
	max-width: 960px;
	margin: 0;
	padding: 1.8em 0 0;
}

.profile-section .form-panel .row .col {
	padding: 0 2em 1em 0;
}

.profile-section .form-panel .row .col label {
	margin: 0 0 .5em;
	font-size: 16px;
	font-weight: 600;
}

.profile-section .form-panel .row .col input {
	margin: 0;
	padding: 1em;
	border: 1px solid #d1d3d4;
}

.button-group {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.button-group .bg-crimson {
	margin: 0 1em 1em 0;
}

.col .checked-box input,
.col .new-check input {
	position: absolute;
	left: -9999px;
}

.col .checked-box label,
.col .new-check label {
	position: relative;
	cursor: pointer;
	padding-left: 28px;
	font-weight: 400 !important;
}

.col .checked-box label:before,
.col .new-check label:before {
	content: "";
	position: absolute;
	left: 0;
	top: .1em;
	width: 15px;
	height: 15px;
	border: 1px solid #636466;
}

.col .checked-box label:after,
.col .new-check label:after {
	content: "";
	position: absolute;
	left: 0;
	top: .1em;
	width: 12px;
	height: 12px;
}

.col .checked-box [type="checkbox"]:checked + label:after,
.col .new-check [type="checkbox"]:checked + label:after {
	content: "\e911";
	position: absolute;
	font-size: 10px;
	font-family: "icomoon" !important;
	left: .3em;
	top: .4em;
}

.col .checked-box label:after,
.col .new-check label:after {
	background: transparent;
}

#footer {
	padding: 3.2em 0;
	color: #fff;
	background-color: #333;
	font-size: 14px;
}

.copyright {
	padding: 0;
}

.copyright h3 {
	margin: 0 0 .2em;
	font-weight: 400;
}

@media (min-width: 480px) {
	.banner-block {
		padding: 3.2em 2.1em 2em;
	}

	table {
		width: 100%;
	}
}

@media (min-width: 768px) {
	#header {
		overflow: hidden;
	}

	.header-content {
		width: 100%;
		float: right;
	}

	.header-content:before {
		content: "";
		border-top: 9px solid #0093d0;
		background-color: #e5f4fa;
		position: absolute;
		top: 0;
		left: 50%;
		height: 100%;
		width: 100vw;
		-webkit-transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
		z-index: 1;
	}

	.logo-block {
		padding: 2em 0 1.7em;
	}

	.logo-block .logo {
		width: 185px;
		height: 59px;
	}

	.user-area {
		float: right;
	}

	.burger-wrap {
		display: none;
	}

	.container {
		padding: 0 30px;
	}

	.section-main {
		padding: 2.2em 0 1em;
	}

	.banner-block {
		padding: 4.8em 4.1em 2em;
	}

	.banner-box h1 {
		margin: 0 0 .2em;
		line-height: inherit;
	}

	.section-sign,
	.filter-panel {
		margin: 2em 0;
	}

	.filter-panel .sign-panel,
	.new-panel .sign-panel {
		padding: 1.8em 2em 2em;
	}

	.filter-panel .sign-panel h2,
	.new-panel .sign-panel h2 {
		margin: 0 0 .5em;
	}

	.button-crimson {
		display: none;
	}

	.section-sign .sign-panel {
		padding: 1.8em 2.3% 2em;
	}

	.section-sign .sign-panel h2 {
		margin: 0 0 .5em;
	}

	.new-panel {
		margin: 0 0 1.1em;
	}

	.new-panel .sign-panel .form-group:nth-of-type(1) {
		margin: 0 0 1.8em;
	}

	.new-panel .sign-panel .form-group:nth-of-type(2) {
		margin: 0 0 1.8em;
	}

	.wrap {
		padding: 0 0 2em;
	}

	.wrap-create {
		padding: 0 0 4em;
	}

	.profile-content:after,
	.profile-content-create:after {
		bottom: 5em;
	}

	.information .form-panel-information,
	.information .form-panel-create {
		margin: 0;
	}

	.information .form-panel-information .row,
	.information .form-panel-create .row {
		margin: 0 -1em 1em;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}

	.information .form-panel-information .row .col,
	.information .form-panel-create .row .col {
		width: 50%;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}

	.information .form-panel-information input,
	.information .form-panel-create input {
		margin: 0 0 1em;
	}

	.information .form-panel-information textarea,
	.information .form-panel-create textarea {
		margin: 0 0 4em;
	}

	.profile-content-create .info-create .form-panel-create .row {
		margin: 0 -1em .6em;
	}

	.profile-content-create .info-create .form-panel-create textarea {
		margin: 0 0 2em;
	}

	.profile-section .form-block .row .col {
		width: 50%;
	}

	.profile-section .form-block textarea {
		margin: 0 0 4em;
	}

	#footer {
		padding: 3em 0;
	}

	.copyright {
		padding: 0;
	}
}

@media (min-width: 1024px) {
	select {
		background-position: 95% 50%;
	}

	.form {
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}

	.form .form-group:nth-of-type(1) {
		max-width: 16.75%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 16.75%;
		flex: 0 0 16.75%;
		margin: 0;
	}

	.form .form-group:nth-of-type(2) {
		max-width: 30%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 30%;
		flex: 0 0 30%;
		margin: 0;
	}

	.form .form-group:nth-of-type(3) {
		max-width: 33.4%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 33.4%;
		flex: 0 0 33.4%;
		margin: 0;
	}

	.form .form-group:nth-of-type(4) {
		max-width: 19.85%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 19.85%;
		flex: 0 0 19.85%;
	}

	.new-panel .sign-panel .form-group:nth-of-type(1) {
		max-width: 16.75%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 16.75%;
		flex: 0 0 16.75%;
		margin: 0;
	}

	.new-panel .sign-panel .form-group:nth-of-type(2) {
		max-width: 30%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 30%;
		flex: 0 0 30%;
		margin: 0;
	}

	table thead {
		background-color: #e5f4fa;
	}

	table thead tr > *:nth-of-type(1),
	table tbody tr > *:nth-of-type(1) {
		width: 245px;
	}

	table thead tr > *:nth-of-type(2),
	table tbody tr > *:nth-of-type(2) {
		width: 125px;
	}

	table thead tr > *:nth-of-type(3),
	table tbody tr > *:nth-of-type(3) {
		width: 180px;
	}

	table thead tr > *:nth-of-type(4),
	table tbody tr > *:nth-of-type(4) {
		width: 125px;
	}

	table thead tr > *:nth-of-type(5),
	table tbody tr > *:nth-of-type(5) {
		width: 160px;
	}

	table thead tr > *:nth-of-type(6),
	table tbody tr > *:nth-of-type(6) {
		width: 340px;
	}

	.profile-content,
	.profile-content-create {
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}

	.nav-panel {
		width: 30.5%;
		margin: 0;
	}

	.information {
		padding: 0 0 0 2em;
		width: 69.5%;
	}

	.profile-content-create:after {
		bottom: 0;
		bottom: -2em;
	}

	.profile-content-create .info-create {
		width: 67.5%;
	}

	.button-group .bg-crimson {
		margin: 0 1em 0 0;
	}
}

@media (min-width: 1227px) {
	.form {
		margin: 0 -15px;
	}

	.form .form-group {
		padding: 0 15px;
	}

	.form .form-group:nth-of-type(2) {
		max-width: 33.2%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 33.2%;
		flex: 0 0 33.2%;
	}

	.form .form-group:nth-of-type(4) {
		max-width: 16.65%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 16.65%;
		flex: 0 0 16.65%;
	}

	.new-panel .sign-panel .form-group {
		padding: 0 15px;
	}

	.new-panel .sign-panel .form-group:nth-of-type(2) {
		max-width: 33.2%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 33.2%;
		flex: 0 0 33.2%;
	}
}

@media (max-width: 1023px) {
	#nav li {
		width: 100%;
		margin: 9px 1.6em -5px -1em;
	}

	#nav li:first-child {
		padding: 0;
		margin: 9px 1.5em -9px -1em;
	}

	table thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
		margin: 0 0 2rem 0;
		display: block;
	}

	.thead-table tr {
		position: static;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	th {
		display: block;
	}

	td {
		padding: .85em .85em .9em;
		border: none;
		border-bottom: 1px solid #e5f4fa;
		position: relative;
		padding-left: 50%;
		display: block;
	}

	td:last-child {
		margin: 0 0 2em;
	}

	td:before {
		content: attr(data-transition);
		position: absolute;
		top: 0;
		padding: .85em;
		left: 6px;
		width: 45%;
		font-weight: 600;
		white-space: nowrap;
	}

	td:first-child {
		background-color: #e5f4fa;
	}
}

@media (max-width: 767px) {
	.logo {
		width: 138px;
		height: 44px;
	}

	.nav-opener {
		margin: 1em 0 .6em;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	.nav-opener:before,
	.nav-opener:after,
	.nav-opener span {
		height: 3px;
	}

	.log-in {
		padding: 0;
		top: 100%;
		left: 0;
		width: 100%;
		opacity: 0;
		visibility: hidden;
		-webkit-transform: translate(100%, 0);
		-ms-transform: translate(100%, 0);
		transform: translate(100%, 0);
		-webkit-transition-property: opacity, visibility, -webkit-transform;
		transition-property: opacity, visibility, -webkit-transform;
		transition-property: opacity, visibility, transform;
		transition-property: opacity, visibility, transform, -webkit-transform;
		-webkit-transition-duration: .25s;
		transition-duration: .25s;
		-webkit-transition-timing-function: linear;
		transition-timing-function: linear;
		background-color: #e5f4fa;
		z-index: 1;
	}

	.nav-active .log-in {
		opacity: 1;
		visibility: visible;
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
	}

	.log-in a {
		padding: 1em 1.1em;
		max-width: none;
	}

	.log-in a:hover {
		background-color: #fff;
		color: #007db3;
	}

	.drop-user {
		padding: 0;
		float: none;
	}

	.drop-user a {
		padding: .8em .9em;
	}

	.drop-user .popup-active .popup {
		position: inherit;
		padding: 0 1.5em;
		border-bottom: 1px solid #0093d0;
	}

	#nav {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	#nav li {
		margin: 0;
	}

	#nav li:first-child {
		margin: 0;
	}

	#nav li:first-child i {
		display: block;
		opacity: 0;
	}

	#nav li a {
		padding: 1em .9em;
	}

	#header .container:before {
		border-bottom: 9px solid #0093d0;
	}

	.menu {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		opacity: 0;
		overflow: hidden;
		visibility: hidden;
		-webkit-transform: translate(100%, 0);
		-ms-transform: translate(100%, 0);
		transform: translate(100%, 0);
		border-bottom: 9px solid #0093d0;
		-webkit-transition-property: opacity, visibility, -webkit-transform;
		transition-property: opacity, visibility, -webkit-transform;
		transition-property: opacity, visibility, transform;
		transition-property: opacity, visibility, transform, -webkit-transform;
		-webkit-transition-duration: .27s;
		transition-duration: .27s;
		-webkit-transition-timing-function: linear;
		transition-timing-function: linear;
		background-color: #e5f4fa;
		z-index: 1;
	}

	.nav-active .menu {
		opacity: 1;
		visibility: visible;
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
	}

	.filter-panel {
		margin: 0 0 1.1em;
	}
}

@media (max-width: 414px) {
	.btn-download {
		margin: 0 0 1em;
	}
}
