// forms
form,
fieldset {
	margin: 0 -15px;
	padding: 0;
	border-style: none;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
//input[type='url'],
// input[type='date'],
textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	box-sizing: border-box;
	width: 100%;
	background-color: $white;
	// background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 20 20' style='enable-background:new 0 0 20 20;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%230093D0;%7D%0A%3C/style%3E%3Cg%3E%3Cpath class='st0' d='M18.9,17.9C19,18,19,18.1,19,18.2s0,0.2-0.1,0.3l-0.4,0.3C18.4,19,18.3,19,18.2,19s-0.2,0-0.3-0.1l-4.5-4.5 c-0.1-0.1-0.1-0.2-0.1-0.3v-0.4c-0.7,0.6-1.4,1.1-2.3,1.4s-1.8,0.5-2.7,0.5c-1.3,0-2.6-0.3-3.7-1S2.6,13.1,2,12S1,9.6,1,8.3 s0.3-2.6,1-3.7s1.5-2,2.7-2.7S7,1,8.3,1s2.6,0.3,3.7,1s2,1.5,2.7,2.7s1,2.3,1,3.7c0,0.9-0.2,1.8-0.5,2.7s-0.8,1.6-1.4,2.3H14 c0.1,0,0.2,0,0.3,0.1L18.9,17.9z M8.3,14.5c1.1,0,2.2-0.3,3.1-0.8s1.7-1.3,2.3-2.3s0.8-2,0.8-3.1s-0.3-2.2-0.8-3.1S12.4,3.5,11.4,3 s-2-0.8-3.1-0.8S6.2,2.4,5.2,3S3.5,4.3,3,5.2s-0.8,2-0.8,3.1s0.3,2.2,0.8,3.1s1.3,1.7,2.3,2.3S7.2,14.5,8.3,14.5z'/%3E%3C/g%3E%3C/svg%3E");
	// background-repeat: no-repeat;
	position: relative;
	border: none;
	padding: 1em 2.5em 1em 1em;
	font-size: 16px;
	color: $shuttle-gray;
	background-position: 97% 50%;
	background-size: 20px 20px;

	&:focus {
		border-color: $form-element-focus-border-color;
	}

	@include placeholder {
		color: $placeholder-color;
	}
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	-webkit-border-radius: 0;
	background-color: $white;
	background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%230093d0;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3EIcon_arrow_down%3C/title%3E%3Cpath class='cls-1' d='M5.16,8.18A.35.35,0,0,1,5,7.87a.55.55,0,0,1,.12-.35l.31-.27a.36.36,0,0,1,.31-.16.46.46,0,0,1,.35.16l3.91,4,3.91-4a.55.55,0,0,1,.35-.12.41.41,0,0,1,.31.12l.31.27a.55.55,0,0,1,.12.35.4.4,0,0,1-.12.31l-4.53,4.61a.57.57,0,0,1-.7,0h0Z'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: 97% 50%;
	background-size: 20px 20px;
	position: relative;
	border: none;
	padding: 1em 2.5em 1em 1em;
	font-size: 16px;
	color: $shuttle-gray !important;
	transition: .27s ease-in-out;
	@include media('>=desktop') {
		background-position: 95% 50%;
	}
}

select::-ms-expand {
	display: none; 
}

textarea {
	// resize: vertical;
	resize: none;
	vertical-align: top;
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	cursor: pointer;
	border: none;
	// padding: 0.76em 1.1em;
	// align-items: center;
	display: flex;
	padding: 0.9em 1.1em;
	flex-shrink: 1;
	font-size: 16px;
	color: $white;
	background-color: $primary-color;
	transition: .27s ease-in-out;
	max-height: 52px;
	&:hover {
		background-color: $pacific-blue;
	}
	i {
		margin: 0 0.5em 0 0;
		font-size: 20px;
	}
}

label {
	display: inline-block;
	font-weight: 400;
	font-size: $h2-font-size;
	margin: 0 0 0.2em;
	font-size: 24px;
}

input[type="search"] {
	@include placeholder {
		color: $shuttle-gray;
	}
}

input[type="text"] {
	@include placeholder {
		color: $shuttle-gray;
	}
}