// Colors
// Color calculator - http://razorjam.github.io/sasscolourfunctioncalculator/
// Color names - http://name-of-color.com/

$gray: #999;
$black: #333;
$dark: #000;
$shuttle-gray: #636466;
$white: #fff;
$light-blue: #39f;
$blue-dianne: #245062;

$iron-border: #d1d3d4;

// $pacific-blue name color
$primary-color: #0093d0;

$alizarin-crimson: #e31b23;

// Hover button
$thunderbird: #b7151b;
$pacific-blue: #007db3;

// Color names backgrounds
$polar: #e5f4fa;
$iron: #e6e7e8;
$mine-shaft: #333333;
$seagull: #7fc9e7;

// icomun color
$curious-blue: #2fa7d9;


$base-font-sans-serif: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
$base-font-serif: 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;

// This is the default html and body font-size for the base rem value.
$rem-base: 16px;

// Body
$base-text-color: $shuttle-gray !default;
$base-background-color: $white !default;
$font-size-base: 16px !default;
$line-height-base: 1.2 !default;
$base-font-family: $base-font-sans-serif !default;

$vertical-rhythm: ($line-height-base * 1em);

$base-min-width: 320px;

// Liks
$base-link-color: $shuttle-gray;

// Buttons 
$btn-color: $white !default;
$btn-background: $black !default;
$btn-padding: 0.4em 0.7em !default;
$btn-font-size: inherit !default;

// Forms
$form-element-padding: $btn-padding !default;
$form-element-border-color: $gray !default;
$form-element-focus-border-color: $black !default;
$placeholder-color: $gray !default;

// Headers
$h1-font-size: 48px !default;
$h2-font-size: 24px !default;
$h3-font-size: 18px !default;
$h4-font-size: 21px !default;
$h5-font-size: 17px !default;
$h6-font-size: 15px !default;

$headings-font-family: inherit !default;
$headings-color: inherit !default;


$animation-speed: 0.3s;
