#wrapper {
	position: relative;
	overflow: hidden;
}

.flex-wrap {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	#main {
		flex-grow: 1;
	}
}

.container {
	max-width: 1440px;
	padding: 0 15px;
	margin: 0 auto;
	@include media('>=tablet') {
		padding: 0 30px;
	}
}

.section-main {
	padding: 1em 0 1em;
	@include media('>=tablet') {
		padding: 2.2em 0 1em;
	}
}

.banner-block {
	padding: 2.2em 2.1em 1em;
	min-height: 248px;
	background-size: cover;
	background-position: 50% 50%;
	background-color: $seagull;
	@include media('>=phone') {
		padding: 3.2em 2.1em 2em;
	}
	@include media('>=tablet') {
		padding: 4.8em 4.1em 2em;
	}
}

.banner-box {
	color: $white;
	h1 {
		font-weight: 400;
		margin: 0 0 0.35em;
		line-height: .95;
		@include media('>=tablet') {
			margin: 0 0 0.2em;
			line-height: inherit;
		}
	}
}

.section-sign,
.filter-panel {
	@include media('>=tablet') {
		margin: 2em 0;
	}
}

.filter-panel,
.new-panel {
	.sign-panel {
		padding: 0.7em 1em .95em;
		@include media('>=tablet') {
			padding: 1.8em 2em 2em;
		}
		h2 {
			font-weight: 400;
			margin: 0 0 1.2em;
			@include media('>=tablet') {
				margin: 0 0 0.5em;
			}
		}
	}
}

.filter-panel {
	background-color: $polar;
	@include media('<tablet') {
		margin: 0 0 1.1em;
	}
}

.button-crimson {
	padding: .7em 1em;
	max-width: 114px;
	color: $white;
	background-color: $alizarin-crimson;
	display: flex;
	transition: background .27s ease-in-out;
	@include media('>=tablet') {
		display: none;
	}
	i {
		font-size: 21px;
		margin: 0 0.38em 0 0;
	}
	&:hover {
		background-color: $thunderbird;
	}
}

.section-sign {
	.sign-panel {
		padding: 2em;
		background-color: $iron;
		@include media('>=tablet') {
			padding: 1.8em 2.3% 2em;
		}
		h2 {
			font-weight: 400;
			margin: 0 0 1.2em;
			@include media('>=tablet') {
				margin: 0 0 0.5em;
			}
		}
	}
}

.form {
	display: flex;
	margin: 0 -10px;
	align-items: flex-end;
	flex-wrap: wrap;
	@include media('>=desktop') {
		flex-wrap: nowrap;
	}
	@include media('>=1227px') {
		margin: 0 -15px
	}
	select{
		width: 100%;
	}
	.form-group{
		padding: 0 10px;
		@include media('>=1227px') {
			padding: 0 15px;
		}
		&:nth-of-type(1){
			width: 100%;
			margin: 0 0 1.8em;
			@include media('>=desktop') {
				max-width: 16.75%;
				flex: 0 0 16.75%;
				margin: 0;
			}
		}
		&:nth-of-type(2){
			width: 100%;
			margin: 0 0 1.8em;
			@include media('>=desktop') {
				max-width: 30%;
				flex: 0 0 30%;
				margin: 0;
			}
			@include media('>=1227px') {
				max-width: 33.2%;
				flex: 0 0 33.2%;
			}
		}
		&:nth-of-type(3){
			width: 100%;
			margin: 0 0 1.2em;
			@include media('>=desktop') {
				max-width: 33.4%;
				flex: 0 0 33.4%;
				margin: 0;
			}
		}
		&:nth-of-type(4){
			@include media('>=desktop') {
				max-width: 19.85%;
				flex: 0 0 19.85%;
			}
			@include media('>=1227px') {
				max-width: 16.65%;
				flex: 0 0 16.65%;
			}
			.input {
				width: 100%;
			}
		}
	}
}

.new-panel {
	background-color: $iron;
	margin: 0 0 .3em;
	@include media('>=tablet') {
		margin: 0 0 1.1em;
	}
	.sign-panel {
		.form-group {
			padding: 0 10px;
			@include media('>=1227px') {
				padding: 0 15px;
			}
			&:nth-of-type(1){
				width: 100%;
				margin: 0 0 1.2em;
				@include media('>=tablet') {
					margin: 0 0 1.8em;
				}
				@include media('>=desktop') {
					max-width: 16.75%;
					flex: 0 0 16.75%;
					margin: 0;
				}
			}
			&:nth-of-type(2){
				width: 100%;
				margin: 0 0 .8em;
				// box-sizing: border-box;
				@include media('>=tablet') {
					margin: 0 0 1.8em;
				}
				@include media('>=desktop') {
					max-width: 30%;
					flex: 0 0 30%;
					margin: 0;
				}
				@include media('>=1227px') {
					max-width: 33.2%;
					flex: 0 0 33.2%;
				}
				.line-search {
					input {
						background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 20 20' style='enable-background:new 0 0 20 20;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%230093D0;%7D%0A%3C/style%3E%3Cg%3E%3Cpath class='st0' d='M18.9,17.9C19,18,19,18.1,19,18.2s0,0.2-0.1,0.3l-0.4,0.3C18.4,19,18.3,19,18.2,19s-0.2,0-0.3-0.1l-4.5-4.5 c-0.1-0.1-0.1-0.2-0.1-0.3v-0.4c-0.7,0.6-1.4,1.1-2.3,1.4s-1.8,0.5-2.7,0.5c-1.3,0-2.6-0.3-3.7-1S2.6,13.1,2,12S1,9.6,1,8.3 s0.3-2.6,1-3.7s1.5-2,2.7-2.7S7,1,8.3,1s2.6,0.3,3.7,1s2,1.5,2.7,2.7s1,2.3,1,3.7c0,0.9-0.2,1.8-0.5,2.7s-0.8,1.6-1.4,2.3H14 c0.1,0,0.2,0,0.3,0.1L18.9,17.9z M8.3,14.5c1.1,0,2.2-0.3,3.1-0.8s1.7-1.3,2.3-2.3s0.8-2,0.8-3.1s-0.3-2.2-0.8-3.1S12.4,3.5,11.4,3 s-2-0.8-3.1-0.8S6.2,2.4,5.2,3S3.5,4.3,3,5.2s-0.8,2-0.8,3.1s0.3,2.2,0.8,3.1s1.3,1.7,2.3,2.3S7.2,14.5,8.3,14.5z'/%3E%3C/g%3E%3C/svg%3E");
						background-repeat: no-repeat;
					}
				}
			}
			&:nth-of-type(3){
				max-width: 166px;
				margin: 0;
			}
			&:nth-of-type(4){
				max-width: 216px;
				flex: none;
			}
		}
	}
}

.btn-download {
	@include media('<415px') {
		margin: 0 0 1em;
	}
}

.bg-crimson {
	background-color: $alizarin-crimson;
	&:hover {
		background-color: $thunderbird;
	}
}

.table-holder {
	padding: 0 0 1.8em;
}

table {
	@include media('>=phone') {
		width: 100%;
	}
	thead {
		@include media('>=desktop') {
			background-color: $polar;
		}
		tr {
			@include media('<desktop') {
				position: absolute;
				top: -9999px;
				left: -9999px;
				margin: 0 0 2rem 0;
				display: block;
			}
		}
	}
}

.thead-table {
	width: 100%;
	tr {
		@include media('<desktop') {
			position: static;
			// display: block;
			display: flex;
			flex-wrap: wrap;
		}
	}
}

table {
	thead  tr,
	tbody tr {
		> *{
			&:nth-of-type(1) {
				@include media(">=desktop") {
					width: 245px;
				}
			}
			&:nth-of-type(2) {
				@include media(">=desktop") {
					width: 125px;
				}
			}
			&:nth-of-type(3) {
				@include media(">=desktop") {
					width: 180px;
				}
			}
			&:nth-of-type(4) {
				@include media(">=desktop") {
					width: 125px;
				}
			}
			&:nth-of-type(5) {
				@include media(">=desktop") {
					width: 160px;
				}
			}
			&:nth-of-type(6) {
				@include media(">=desktop") {
					width: 340px;
				}
			}
		}
	}
}

th {
	padding: .85em;
	text-align: left;
	@include media('<desktop') {
		display: block;
	}
}

td {
	padding: .85em .85em 1em;
	border-bottom: 1px solid $polar;
	@include media('<desktop') {
		padding: .85em .85em .9em;
		border: none;
		border-bottom: 1px solid $polar;
		position: relative;
		padding-left: 50%;
		display: block;
		&:last-child {
			margin: 0 0 2em;
		}
		&:before {
			content: attr(data-transition);
			position: absolute;
			top: 0;
			padding: .85em;
			left: 6px;
			width: 45%;
			font-weight: 600;
			white-space: nowrap;
		}
		&:first-child {
			background-color: $polar;
		}
	}
}

.thead-table {
	margin: 0 0 3em;
	thead {
		color: $white;
		background-color: $pacific-blue;
	}
}

.link-table {
	padding: .8em 0;
	color: $alizarin-crimson;
	border: 2px solid $alizarin-crimson;
	font-weight: 600;
	display: block;
	text-align: center;
	transition: background .27s ease-in-out;
	&:hover {
		color: $white;
		background-color: $thunderbird;
		border: 2px solid $thunderbird;
	}
}

.breadcrumbs {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	overflow: hidden;
	color: $black;
	li {
		float:left;
		padding:0 8px 0 0;
		&:not(:first-child) {
			&:before{
				float:left;
				content:'\002F';
				margin:0 4px 0 0;
			}
		}
		a {
			color: $primary-color;
			&:hover {
				color: $pacific-blue;
			}
		}
	}
}

.breadcrumbs {
	@extend %listreset;
	padding: 1.5em 0 1em;
}

.wrap {
	padding: 0 0 1em;
	@include media('>=tablet') {
		padding: 0 0 2em;
	}
}

.wrap-create {
	padding: 0 0 1em;
	@include media('>=tablet') {
		padding: 0 0 4em;
	}
}

.profile-section {
	padding: 0;
	margin: 0;
}

.header-profile {
	margin: 0 0 .6em;
	h1 {
		font-size: 32px;
		font-weight: 400;
		margin: 0;
	}
}

.profile-content,
.profile-content-create {
	padding: 2em 0 0;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
	position: relative;
	@include media('>=desktop') {
		flex-wrap: nowrap;
	}
	&:before,
	&:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 1px;
		top: 0;
		background-color: $polar;
	}
	&:after {
		top: auto;
		// bottom: 4.5em;
		bottom: 0;
		@include media('>=tablet') {
			bottom: 5em;
		}
	}
}

.nav-panel {
	width: 100%;
	margin: 0 0 2em;
	@include media('>=desktop') {
		width: 30.5%;
		margin: 0;
	}
}

.image-panel {
	padding: 1em;
	margin: 0 0 2em;
	display: flex;
	align-items: center;
	color: $white;
	background-color: $primary-color;
}

.photo {
	padding: 1em;
	margin: 0 1em 0 0;
	background-color: $blue-dianne;
	i {
		color: $pacific-blue;
		font-size: 48px;
	}
}

.name {
	p {
		margin: 0;
	}
}

.information-nav {;
	color: $white;
	background-color: $polar;
	.profile {
		padding: 1em;
		font-weight: 600;
		background-color: $primary-color;
		i {
			font-size: 20px;
			margin: 0 0.45em 0 0;
		}
	}
	.security-profile {
		padding: 1em 1em 2em;
		.list-security {
			@extend %listreset;
			color: $shuttle-gray;
			li {
				margin: 0 0 0.2em;
				&:before {
					content: "\e90b";
					color: $primary-color;
					padding: 0 0.4em 0 0;
					font-family: 'icomoon' !important;
					font-size: 20px;
					opacity: 0;
				}
				&:first-child {
					&:before {
						opacity: 1;
					}
				}
				a {
					&:hover {
						color: $primary-color;
					}
				}
			}
		}
	}
}

.information {
	width: 100%;
	@include media('>=desktop') {
		padding: 0 0 0 2em;
		width: 69.5%;
	}
	.form-panel-information,
	.form-panel-create {
		margin: 0 0 1em;
		@include media('>=tablet') {
			margin: 0;
		}
		.title {
			margin: 0 0 1em;
			display: block;
			font-size: 24px;
		}
		.row {
			display: flex;
			margin: 0 -1em 0;
			flex-wrap: wrap;
			@include media('>=tablet') {
				margin: 0 -1em 1em;
				flex-wrap: nowrap;
			}
			.col {
				width: 100%;
				padding: 0 1em;
				flex-wrap: wrap;
				@include media('>=tablet') {
					width: 50%;
					flex-wrap: nowrap;
				}
				select {
					width: 100%;
					border: 1px solid $iron-border;
				}
			}
		}
		label {
			width: 100%;
			margin: 0 0 0.5em;
			font-size: 16px;
			font-weight: 600;
		}
		input,
		textarea {
			border: 1px solid $iron-border;
		}
		input {
			margin: 0 0 2em;
			@include media('>=tablet') {
				margin: 0 0 1em;
			}
		}
		textarea {
			min-height: 275px;
			margin: 0 0 1em;
			// margin: 0 0 2.5em;
			@include media('>=tablet') {
				margin: 0 0 4em;
			}
		}
		.dtn-in {
			padding: 1em;
			color: $white;
			background-color: $primary-color;
			// display: inline-block;
			&:hover {
				background-color: $pacific-blue;
			}
		}
	}
}

.btn-form {
	padding: 1em;
	color: $white;
	background-color: $alizarin-crimson;
	display: inline-block;
	&:hover {
		background-color: $thunderbird;
	}
}

.profile-content-create {
	&:before,
	&:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 1px;
		top: 0;
		background-color: $polar;
	}
	&:after {
		top: auto;
		bottom: -1em;
		@include media('>=desktop') {
			bottom: 0;
			bottom: -2em;
		}
	}
	.info-create {
		padding: 0;
		width: 100%;
		@include media('>=desktop') {
			width: 67.5%;
		}
		.form-panel-create {
			.row {
				margin: 0 -1em 1em;
				@include media('>=tablet') {
					margin: 0 -1em .6em;
				}
				&:not(:nth-of-type(1)) {
					margin: 0 -1em .7em;
				}
				.attach-wrap {
					width: 100%;
					display: flex;
					flex-wrap: wrap;
					align-items: flex-end;
				}
				.col {
					padding: 0 1em 1em;
				}
			}
			input {
				margin: 0;
				padding: 1em;
			}
			textarea {
				@include media('>=tablet') {
					margin: 0 0 2em;
				}
			}
		}
	}
}

hr {
	border: none;
	position: relative;
	height: 1px;
	&:before {
		content: '';
		top: 0;
		left: 0;
		width: calc(100vw - (100vw - 1440px));
		height: inherit;
		position: absolute;
		background-color: $polar;
	}
}

.profile-section {
	.form-block {
		max-width: 960px;
		padding: 1.8em 0 0;
		margin: 0 0 2em;
		.row {
			display: flex;
			flex-wrap: wrap;
			.col {
				padding: 0 2em 1em 0;
				width: 100%;
				// width: 50%;
				@include media('>=tablet') {
					width: 50%;
				}
				label {
					margin: 0 0 0.5em;
					font-size: 16px;
					font-weight: 600;
				}
				input {
					margin: 0;
					padding: 1em;
					border: 1px solid $iron-border;
				}
			}
		}
		textarea {
			@include media('>=tablet') {
				margin: 0 0 4em;
			}
		}
	}
	.form-panel {
		max-width: 960px;
		// margin: 0 0 2em;
		margin: 0;
		padding: 1.8em 0 0;
		.row {
			.col {
				padding: 0 2em 1em 0;
				// width: 100%;
				label {
					margin: 0 0 0.5em;
					font-size: 16px;
					font-weight: 600;
				}
				input {
					margin: 0;
					padding: 1em;
					border: 1px solid $iron-border;
				}
			}
		}
	}
}

.button-group {
	display: flex;
	flex-wrap: wrap;
	.bg-crimson {
		margin: 0 1em 1em 0;
		@include media('>=desktop') {
			margin: 0 1em 0 0;
		}
	}
}

.col {
	.checked-box,
	.new-check {
		input {
			position: absolute;
			left: -9999px;
		}
		label {
			position: relative;
			cursor: pointer;
			padding-left: 28px;
			font-weight: 400 !important;
			&:before {
				content: "";
				position: absolute;
				left: 0;
				top: .1em;
				width: 15px;
				height: 15px;
				border: 1px solid $shuttle-gray;
			}
			&:after {
				content: "";
				position: absolute;
				left: 0;
				top: .1em;
				width: 12px;
				height: 12px;
			}
		}
		[type="checkbox"]:checked + label {
			&:after {
				content: "\e911";
				position: absolute;
				font-size: 10px;
				font-family: 'icomoon' !important;
				left: 0.3em;
				top: 0.4em;
			}
		}
		label {
			&:after {
				background: transparent;
			}
		}
	}
}