#footer {
	padding: 3.2em 0;
	color: $white;
	background-color: $mine-shaft;
	font-size: 14px;
	@include media('>=tablet') {
		padding: 3em 0;
	}
}

.copyright {
	padding: 0;
	@include media('>=tablet') {
		padding: 0;
	}
	h3 {
		margin: 0 0 0.2em;
		font-weight: 400;
		// @include media('>=tablet') {
		// 	font-weight: 600;
		// 	// letter-spacing: -0.6px;
		// }
	}
}
