#header {
	@include media('>=tablet') {
		overflow: hidden;
	}
}

.logo {
	@include media('<tablet') {
		width: 138px;
		height: 44px;
	}
}

.nav-opener {
	margin: 3em 1em .6em;
	float: right;
	width: 40px;
	height: 41px;
	position: relative;
	display: none;
	text-indent: -9999px;
	overflow: hidden;
	background-color: $alizarin-crimson;
	@include media('<tablet') {
		margin: 1em 0 .6em;
		display: flex;
	}
	&:before,
	&:after,
	span {
		background: $white;
		position: absolute;
		top: 20px;
		left: 10%;
		right: 10%;
		height: 4px;
		margin-top: -2px;
		transition: all 0.2s linear;
		@include media('<tablet') {
			height: 3px;
		}
	}
	&:before,
	&:after {
		content: '';
		top: 12px;
		.nav-active & {
			transform: rotate(45deg);
			top: 20px;
			left: 15%;
			right: 15%;
		}
	}
	&:after {
		top: 28px;
		.nav-active & {
			transform: rotate(-45deg);
		}
	}
	span {
		.nav-active & {
			opacity: 0;
		}
	}
}

.log-in {
	padding: 2.4em 0;
	float: right;
	@include media('<tablet') {
		padding: 0;
		top: 100%;
		left: 0;
		width: 100%;
		opacity: 0;
		visibility: hidden;
		transform: translate(100%, 0);
		transition: {
			property: opacity, visibility, transform;
			duration: .25s;
			timing-function: linear;
		};
		background-color: $polar;
		z-index: 1;
	}
	.nav-active & {
		@include media('<tablet') {
			opacity: 1;
			visibility: visible;
			transform: translate(0, 0);
		}
	}
	a {
		padding: .9em 1.1em;
		max-width: 114px;
		color: $white;
		background-color: $primary-color;
		display: flex;
		transition: .27s ease-in-out;
		@include media('<tablet') {
			padding: 1em 1.1em;
			max-width: none;
		}
		&:hover {
			background-color: $pacific-blue;
			@include media('<tablet') {
				background-color: $white;
				color: $pacific-blue;
			}
		}
		i {
			margin: 0 .8em 0 0;
		}
	}
}

.popup-active {
	.drop_down {
		transform: rotate(180deg) translate(0, 3px);
	}
}

.drop_down {
	font-size: 24px;
	color: $shuttle-gray;
	transition: .27s ease-in-out;
}

.drop-user {
	padding: 3.5em 0 3em;
	float: right;
	@include media('<tablet') {
		padding: 0;
		float: none;
	}
	a {
		margin: 0 -0.2em 0 0;
		display: flex;
		align-items: center;
		color: $dark;
		font-size: 18px;
		letter-spacing: -0.1px;
		transition: background .27s ease-in-out;
		@include media('<tablet') {
			padding: .8em 0.9em;
		}
		&:hover {
			background-color: $white;
		}
		.icon-Icon_user {
			font-size: 20px;
			color: $curious-blue;
			margin: 0 .2em 0.2em 0;
		}
	}
	.popup-holder,
	.popup-hover {
		> div {
			padding: 4px;
			height: 1%;
			display: none;
		}
	}
	.popup-active {
		.popup {
			display: block;
			position: absolute;
			height: auto;
			background: $iron;
			overflow: hidden;
			z-index: 2;
			transition: all .27s ease-in-out;
			@include media('<tablet') {
				position: inherit;
				padding: 0 1.5em;
				border-bottom: 1px solid $primary-color;
			}
		}
	}
	.dropdown-item {
		padding: .5em .3em;
		transition: all .27s ease-in-out;
		&:hover {
			background: none;
			color: $primary-color;
		}
	}
}

.header-content {
	position: relative;
	z-index: 1;
	@include media('>=tablet') {
		width: 100%;
		float: right;
	}
	&:before {
		@include media('>=tablet') {
			content: '';
			border-top: 9px solid #0093d0;
			background-color: $polar;
			position: absolute;
			top: 0;
			left: 50%;
			height: 100%;
			width: 100vw;
			transform: translate(-50%, 0);
			z-index: 1;
		}
	}
}

#nav {
	@extend %listreset;
	display: flex;
	background-color: $polar;
	@include media('<tablet') {
		flex-wrap: wrap;
	}
	li {
		text-transform: uppercase;
		// margin: 9px 4.6em -9px -1em;
		margin: 10px 4.6em -5px -2em;
		@include media('<desktop') {
			width: 100%;
			margin: 9px 1.6em -5px -1em;
		}
		@include media('<tablet') {
			margin: 0;
		}
		&:first-child {
			margin: 9px 4.6em -9px -1em;
			@include media('<desktop') {
				padding: 0;
				margin: 9px 1.5em -9px -1em;
			}
			@include media('<tablet') {
				margin: 0;
			}
			i {
				display: none;
				@include media('<tablet') {
					display: block;
					opacity: 0;
				}
			}
		}
		&.active {
			background-color: $white;
		}
		a {
			padding: 1.3em 1em 1em;
			font-size: 18px;
			letter-spacing: .065em;
			display: flex;
			letter-spacing: 0;
			position: relative;
			z-index: 2;
			transition: background .27s ease-in-out;
			@include media('<tablet') {
				padding: 1em .9em;
			}
			&:hover {
				background-color: $white;
			}
			i {
				margin: 0 .35em 0 0;
				color: $curious-blue;
				font-family: 'icomoon';
				font-size: 22px;
				transform: translateY(-3px);
			}
		}
	}
}

.resize-active {
	* {
		transition: none !important;
	}
}

#header {
	position: relative;
	z-index: 1003;
	.container {
		@extend %clearfix;
		&:before {
			content: '';
			position: absolute;
			width: 100vw;
			left: 0;
			bottom: 0;
			@include media('<tablet') {
				border-bottom: 9px solid #0093d0;
			}
		}
	}
}

.logo-block {
	padding: 1em 0 .7em;
	float: left;
	margin: 0 0 .55em;
	@include media('>=tablet') {
		padding: 2em 0 1.7em;
	}
	.logo {
		width: 138px;
		height: 44px;
		@include media('>=tablet') {
			width: 185px;
			height: 59px;
		}
		a {
			display: block;
		}
	}
}

.user-area {
	overflow: hidden;
	z-index: 2;
	@include media('>=tablet') {
		float: right;
	}
}

.burger-wrap {
	float: right;
	@include media('>=tablet') {
		display: none;
	}
}

.menu {
	@include media('<tablet') {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		opacity: 0;
		overflow: hidden;
		visibility: hidden;
		transform: translate(100%, 0);
		border-bottom: 9px solid $primary-color;
		transition: {
			property: opacity, visibility, transform;
			duration: .27s;
			timing-function: linear;
		};
		background-color: $polar;
		z-index: 1;
	}
	.nav-active & {
		@include media('<tablet') {
			opacity: 1;
			visibility: visible;
			transform: translate(0, 0);
		}
	}
}